*{
    margin: 0;
    padding: 0;
}


div {
    min-height: 100vh;
    color: red;
}

.big {
    background-image: url("../Images/pspkDesktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
}

.small{
    background: url("../Images/cat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



    /* background-repeat: no-repeat;
    background-size: cover; */

    /* background-size: contain; */
    /* background-repeat: round; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */

}