
body{
    text-align: center;
}

.block{
    background-color: blue;
    color: white;
    width: 200px;
    margin: 20px auto;
    /* display: inline; */
}

.inline{
    background-color: red;
    display: block;

}