div{
    width: 250px;
    height: 250px;
    margin: 10px;
}



.one{
    background: linear-gradient(rgb(0, 0, 0),rgb(174, 58, 58));
    /* background: linear-gradient(to bottom,red,green); */
}
.two{
    background: linear-gradient(to top ,red,green);
    /* background: linear-gradient(to left,red,green); */
}
.three{
    /* background: linear-gradient(150deg,rgb(98, 67, 133),rgb(95, 112, 35)); */
    background: linear-gradient(310deg,rgb(98, 67, 133),rgb(95, 112, 35));
}