
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

button{
    padding: 12px 30px;
    background-color: red ;
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    border: 2px solid red;
    /* border: none; */
    outline: none;
    border-radius: 7px;
    text-transform: uppercase;
    transition: all 0.7s ease-in-out;
}

button:hover{
    background: transparent;
    color: black;
    border: 2px solid red;
    cursor: pointer;
}

a:link{
    color: orange;
}

a:visited{
    color: red;
}

a:hover{
    color: green;
}

a:active{
    color: brown;
}
