

/* first always default mobile screen */

body {
    background-color: yellow;
}

.banner{
    background: lightcoral;
}

h1{
    text-decoration: underline;
    color: white;
    text-transform: capitalize;
    padding: 10px;
}


    /* large mobile */

@media screen and (min-width:576px){
    body{
        background: blue;
    }

    .banner{
        background-color: black;
    }

    h1{
        font-size: 60px;
        text-decoration: none;
        text-align: center;
        /* text-transform: none;  over write here!*/ 
    }
}


/* For tablet purpose */

@media screen and (min-width:768px){
    body{
        background: palevioletred;
    }

    .banner{
        background-color: orangered;
    }

    h1{
        font-size: 60px;
        text-decoration: none;
        /* text-align: center; */
        /* text-align: left;  */
        text-transform: uppercase;
    }
}

/* Desktop mode */

@media screen and (min-width:1024px){
    body{
        background: linear-gradient(red,green);
        min-height: 100vh;
    }

    .banner{
        background-color: blue;
    }

    h1{
        /* font-size: 60px; */
        /* text-decoration: none; */
        /* text-align: center; */
        /* text-align: left; */
        font-style: italic;
        /* text-transform: uppercase; */
    }
}