
*,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p::before{
    content: "Starting";
    font-size: 2rem;
    color: orangered;
    font-weight: bold;
}

p::after{
    content: "Ending";
    font-size: 2rem;
    color: orangered;
    font-weight: bold;
    display: block;
}

div{
    width: 60vw;
    height: 30vh;
    margin: 100px auto;
    /* border: 2px solid red; */
    position: relative;
}

img{
    width: 100%;
    display: block;
    height: 100%;
}

div::before{
    content: "";
    border: 2px solid grey;
    width: 100%;
    height:100%;
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: -1;
    transition: all 0.5s linear;
}

div::after{
    content: "";
    background-color: grey;
    width: 100%;
    height:100%;
    position: absolute;
    top: -25px;
    left: -25px;
    z-index: -2;
    transition: all 0.5s linear;
}

div:hover::before,div:hover::after{
    top: 0;
    left: 0;
    cursor: pointer;
}