*{
    color: cornflowerblue;
    /* text-transform: uppercase; */
}

#heading{
    font-size: 40px;
    color: blue;
    text-transform: capitalize;
}

.heading{
    font-size: 27px;
    /* text-transform: uppercase; */
    color: red;
}

p{
    color: green;
    letter-spacing: 4px;
}