img{
    width: 200px;
    height: 200px;
    position: absolute;
}

.banner{
    border: 5px solid red;
    width: 80vw;
    height: 80vh;
    padding: 5px;
    position: relative;
}

.one{
    top: 0;
    left: 0;
    z-index: -1;
}

.two{
    top: 10%;
    left: 10%;
    z-index: -2;
}

.three{
    top: 20%;
    left: 20%;
    z-index: 0;
}