*{
    margin: 0;
}

h1{
    background-color: red;
    padding: 20px;
    margin: 40px;
    /* border-style: solid;
    border-width: 7px;
     border-color: blue; */
    /* border: 5px solid rgba(0, 0, 0, .5); */
    /* border-bottom: 5px solid rgba(0, 0, 0, .5); */
    outline: 7px solid blue;
    outline-offset: 10px;


}

p{
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 40px;
    border: 7px solid red;
}