*{
    padding: 0;
    margin: 0;
}


.header{
    background-color: blue;
    width: 100%;
    height: 100px;
}
.banner{
    background-color: red;
    width: 100%;
    min-height: calc(100vh - 100px);
}