/* *{
    margin: 0;
} */


h1{
    background-color: red;
    /* margin-top: 20px;
    margin-right: 70px;
    margin-bottom: 60px;
    margin-left: 40px; */
    margin-bottom: 0;
}

p{
    background: blue;
    color: white;
    margin-top: 0;
    /* margin-right: 25px; */
    margin: 30px 40px 30px 40px;
}
