h1{
    background-color: red;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 30px;
}

p{
    background: blue;
    color: white;
    /* padding: 30px; */
    /* padding: 30px 50px; */
    padding: 30px 50px 20px 30px;
}